<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Error</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>
<nav class="navbar">
    <div class="navitems">
        <div class="navbar-item">
            <a href="http://localhost:8082/">Home</a>
        </div>
        <div class="navbar-item">
            <a href="http://localhost:8082/list">List</a>
        </div>
        <div class="navbar-item">
            <a href="http://localhost:8082/manager">Manager</a>
        </div>
    </div>
</nav>

<section class="section" id="home-section">
    <div class="section-content" id="home-content">
        <h1 class="section-header" id="home-header">Yikes!</h1>
        <h2 class="section-subtitle" id="home-subtitle">An error occurred..</h2>
    </div>
</section>
</body>
</html>