<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

<nav class="navbar">
    <div class="navbar-left">
    <div class="navbar-items">
        <div class="navbar-item-active">
        <a href="http://localhost:8082/">Home</a>
        </div>
        <div class="navbar-item">
        <a href="http://localhost:8082/list">List</a>
        </div>
        <div class="navbar-item">
        <a href="http://localhost:8082/manager">Manager</a>
        </div>
    </div>
    </div>
</nav>

<section class="section" id="home-section">
    <div class="section-content" id="home-content">
        <h1 class="section-header" id="home-header">TODOLIST</h1>
        <h2 class="section-subtitle" id="home-subtitle">Take control of your day!</h2>
        <p class="section-text" id="home-text">We are here to help you be more productive and get the most out of your life!</p>
        <div class="section-button">
            <div class="section-button-item">
                <a class="section-button-link" href="http://localhost:8082/register">SIGNUP</a>
            </div>
        </div>
    </div>
</section>
</body>
</html>