<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8">
    <title>TodoList</title>
    <link rel="stylesheet" type="text/css" href="css/styles.css">
</head>
<body>

<nav class="navbar">
    <div class="navbar-left">
        <div class="navbar-items">
            <div class="navbar-item">
                <a href="http://localhost:8082/">Home</a>
            </div>
            <div class="navbar-item">
                <a href="http://localhost:8082/list">List</a>
            </div>
            <div class="navbar-item-active">
                <a href="http://localhost:8082/manager">Manager</a>
            </div>
        </div>
    </div>
</nav>
<section class="section" id="home-section">
    <div class="section-content" id="home-content">
        <h1 class="section-header" id="home-header">MANAGER</h1>
        <h2 class="section-subtitle" id="home-subtitle">Add or remove tasks..</h2>
        <form action="#" method="post" th:object="${todoItem}" th:action="@{/manager}">
            <label>Name</label>
            <input type="text" th:field="*{name}">
            <label>Remove</label>
            <input type="checkbox" th:field="*{remove}" value="yes">
            <button type="submit">Submit</button>
        </form>
    </div>
</section>

</body>
</html>